---
import AboutLayout from '../layouts/AboutLayout.astro'
const pagetitle = "About page"
---
<AboutLayout pageTitle={pagetitle}>
  <h1>About</h1>
  <p>My name is John Doe and I'm a web developer.</p>
</AboutLayout>